*{
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    padding: 5.6rem;
}
header h2{
    font-size: 3.5rem;
    font-weight: bold;
}
header p{
    font-weight: bold;
    font-size: 1.2rem;
}
.products{
    margin-top: 5rem;
}
.products .card{
    height: 20rem;
    margin: 0 auto;
}
.products .card img{
    position: relative;
    z-index: 0;
}
.products .card span{
    position:absolute;
    margin-left: 11rem;
    z-index: 1;
}
.products .card .card-body i{
    color: #FFC107;
}

